.App {
  text-align: center;
}

.container 
{
  position:relative;
}
.card 
{
  position:relative;
  z-index:10;
}

h1
{
  text-align: center;
  font-family:'Kalam', cursive;
}

#display
{
  font-family: 'Kaushan Script', cursive;
}

#drum-pads
{
  padding-left: 300px;
  padding-bottom:20px; 
}




